<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyLibrary</display-name>
 
	<context-param>
	<param-name>keyDriverName</param-name>
	<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>  
	<context-param>
	<param-name>keyDriverUrl</param-name>
	<param-value>jdbc:mysql://localhost/librarydemo</param-value>
	</context-param>  
	<context-param>
	<param-name>keyUser</param-name>
	<param-value>root</param-value>
	</context-param>  
	<context-param>
	<param-name>keyPass</param-name>
	<param-value>root</param-value>
	</context-param>  
  
  <servlet>
    <servlet-name>LogAuth</servlet-name>
    <servlet-class>bizlogic.loginauthenticator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogAuth</servlet-name>
    <url-pattern>/logauth</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>prof</servlet-name>
    <servlet-class>bizlogic.ProfileSetvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prof</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bkserv</servlet-name>
    <servlet-class>bizlogic.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bkserv</servlet-name>
    <url-pattern>/books</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studdetail</servlet-name>
    <servlet-class>bizlogic.StudentDetailServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studdetail</servlet-name>
    <url-pattern>/StudentDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bokiss</servlet-name>
    <servlet-class>bizlogic.BookIssueServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bokiss</servlet-name>
    <url-pattern>/BookIssue</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bookret</servlet-name>
    <servlet-class>bizlogic.BookReturnServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookret</servlet-name>
    <url-pattern>/BookReturn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Retreq</servlet-name>
    <servlet-class>bizlogic.ReternRequestserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Retreq</servlet-name>
    <url-pattern>/retreq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Addbook</servlet-name>
    <servlet-class>bizlogic.AddNewBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addbook</servlet-name>
    <url-pattern>/newbook</url-pattern>
  </servlet-mapping>
  <listener>
  <listener-class>listener.ReqResListn</listener-class>
  </listener>
</web-app>